<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
		<title>Trending start-ups</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
		<script type="text/javascript" src="libs/angular/angular.min.js"></script>
			<script type="text/javascript" src="libs/lodash/dist/lodash.min.js"></script>
			<script type="text/javascript" src="libs/underscore.string/dist/underscore.string.min.js"></script>
			<script type="text/javascript" src="app/js/app.js"></script>
			<script type="text/javascript" src="app/js/controllers.js"></script>
			<script type="text/javascript" src="app/js/services.js"></script>
			<script type="text/javascript" src="app/js/filters.js"></script>
			<script type="text/javascript" src="app/js/directives.js"></script>

	</head>

	<body>
		<div ng-controller="jobs" class="container">
		<form action="http://localhost:3000/api/postoverview" method="POST">

<h1>Enter company details here</h1>
<br><br>
<label>Company ID</label>
<input type="text" name="company_id" placeholder=""  ng-model="newpeople.company_id" autofocus />
<br><br>
<label>Company Name</label>
<input type="text" name="company_name" placeholder=""  ng-model="newpeople.company_name" autofocus />
<br><br>
<label>Company Description</label>
<input type="text" name="company_description" placeholder=""  ng-model="newpeople.company_description" autofocus />
<br><br>
<label>Latitude</label>
<input type="text" name="latitude" placeholder=""  ng-model="newpeople.latitude" autofocus />
<br><br>
<label>Longitude</label>
<input type="text" name="longitude" placeholder=""  ng-model="newpeople.longitude" autofocus />
<br><br>
<button type="submit">ADD</button>

</form>
</div>





</body>
